@model Blockche.Blockchain.Models.Transaction

<div class="container row" style="margin-top:30px">
    <div class="col-sm-3">TxHash:</div>
    <div id="tx" class="col-sm-9 cbs" style="word-wrap: break-word;">@Model.TransactionHashHex</div>
    <div class="col-sm-3">TxReceipt Status:</div><div class="col-sm-9 cbs"><span title="A Status code indicating if the top-level call succeeded or failed"><font color="@(Model.TransferSuccessful ? "green" : "")">@(Model.MinedInBlockIndex == null ? "Pending" : Model.TransferSuccessful ? "Successful" : "Failed")</font></span></div>
    <div class="col-sm-3">Block Height:</div>
    <div class="col-sm-9 cbs">
        @if (Model.MinedInBlockIndex.HasValue)
        {
        <a href="/blocks/details/@Model.MinedInBlockIndex">@(Model.MinedInBlockIndex.ToString() ?? "Not Mined")</a>
        }
        else
        {

        <span>Not Mined</span>
        }

    </div> @*TODO: Add block confirmations count*@
    <div class="col-sm-3">TimeStamp:</div>
    <div class="col-sm-9 cbs"><span id="clock"></span> @Model.DateCreated</div>
    <div class="col-sm-3">From:</div>
    <div class="col-sm-9 cbs" style="word-wrap: break-word;"><a href="/addresses/details/@Model.From">@Model.From</a></div>
    <div class="col-sm-3">To:</div>
    <div class="col-sm-9 cbs"><a href="/addresses/details/@Model.To" class="wordwrap">@Model.To</a> </div>
    <div class="col-sm-3">Value:</div>
    <div class="col-sm-9 cbs">
        <span title="The amount of NoCoin to be transferred to the recipient with the transaction">
            @Model.Value
        </span>
    </div>
    <div class="col-sm-3">Fee:</div>
    <div class="col-sm-9 cbs">
        <span title="The amount of Fee supplied for this transaction to happen">
            @Model.Fee
        </span>
    </div>

    <div class="col-sm-3">Additional Data:</div>
    <div class="col-sm-9 cbs">
        <span title="Comment or Additional transaction Data">
            @Model.Data
        </span>
    </div>
</div>